# Application environment
APP_ENV=dev

# Security
SECRET_KEY=

# Database
DATABASE_URL=postgresql+psycopg2://insight:insight@localhost:5432/insightpilot

# Session
SESSION_COOKIE_NAME=ip_session

#OpenAI
OPENAI_API_KEY=sk-your-actual-api-key-here
